<div class="container">
  @if (love) {
  <img width="300px" class="gif" src="/heart_sophia.gif" alt="">
    <h1 class="text round">
      YUPPYYYYYYY !!!!!!! ❤️ <br>
    </h1>
    <a class="text-small round" target="_blank" href="https://g.co/kgs/Rup357Q">📍 <span class="text-underline"> Ristorante Mamima</span> 20:00</a>
} @else {
    <h1  class="text round">
      {{name}}, would you be my Valentine ?
    </h1>

    <img width="300px" class="gif" src="/sophia.gif" alt="">
    <div class="buttons">
      <button #yesBtn  (click)="love = true" class="round yes btn">Yes !!!</button>
      <button #noBtn (click)="increaseButton(yesBtn, noBtn)" class="no round btn">No :(</button>
    </div>
    <div>
    </div>

}
</div>
